<!DOCTYPE html>
<html>
<head>
	<title>Архив новостей</title>
	<%-include('link')%>
</head>
<meta charset="utf-8">
<body>
	<%-include('header')%>
<div class="new-informacion">
	<%for(i in result.news){%>
		<div class="news-item">
			<img src="images/<%-result.news[i].img%>">
			<p><%-result.news[i].title%></p>
			<!-- <div class="preview">ruru</div> -->
			<div class="news-content">
					<%-result.news[i].content%>
			</div>
		</div>
	<%}%>
</div>
<%-include('footer')%>
</body>
</html>